{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">T</span>2F
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item"> 
            <a class="nav-link {% if view_name == 'posts:index' %} active {% endif %}" href="{% url 'posts:index' %}">Посты</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link {% if view_name == 'posts:group_list' %} active {% endif %}" href="{% url 'posts:group_list' %}">Группы</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link {% if view_name == 'main:about' %} active {% endif %}" href="{% url 'main:about' %}">Об авторе</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'main:tech' %} active {% endif %}" href="{% url 'main:tech' %}">Технологии</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'posts:create' %} active {% endif %}" href="{% url 'posts:create' %}">Новый пост</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if view_name == 'posts:profile' %} active {% endif %}" href="{% url 'posts:profile' request.user.username %}">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
          {% else %}
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{% url 'login' %}">Войти</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{% url 'registration' %}">Регистрация</a>
          </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>