{% if user_liked_post %}
            <!-- Кнопка для удаления лайка -->
            <form action="{% url 'posts:unlike' post.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger d-inline-flex align-items-center">
                    Убрать лайк <span class="ms-1">({{ post.likes.count }})</span>
                </button>
            </form>
        {% else %}
            <!-- Кнопка для добавления лайка -->
            <form action="{% url 'posts:like' post.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary d-inline-flex align-items-center">
                    Лайк <span class="ms-1">({{ post.likes.count }})</span>
                </button>
            </form>
        {% endif %}

</div>