{% if user_liked_post %}
  <!-- Кнопка для удаления лайка -->
  <form action="{% url 'posts:unlike' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm text-muted">
      Убрать лайк ({{ post.likes.count }})
    </button>
  </form>
{% else %}
  <!-- Кнопка для добавления лайка -->
  <form action="{% url 'posts:like' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm text-muted">
      Лайк ({{ post.likes.count }})
    </button>
  </form>
{% endif %}